/* Footer Styling */
.site-footer {
    display: flex;
    justify-content: space-between; /* Spreads content evenly */
    align-items: center;
    background-color: #cbcbcb; /* Dark background */
    color: rgb(0, 0, 0);
    padding: 3px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000; /* Ensures it stays on top of other content */
}

/* Links */
.site-footer a {
    color: #000000;
}
.site-footer p {
    color: #000000;
    margin-bottom: 0 !important;
}

.site-footer a:hover {
    text-decoration: underline;
}

/* Ensure Images Align Properly */
.site-footer img {
    max-height: 60px;
    margin-top: 5px;
}

/* Center text in divs */
.site-footer div {
    display: flex;
    align-items: center; /* Ensures content is vertically aligned */
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .site-footer {
        flex-direction: column; /* Stack elements vertically */
        text-align: center;
        padding: 1rem;
    }

    .site-footer img {
        margin-bottom: 10px;
    }

    .site-footer div {
        margin-bottom: 10px; /* Add some space between items in stacked mode */
    }
}
