.rush-heading {
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-size: 2.5rem;
  color: var(--primary-red);
  margin-bottom: 2rem;
  position: relative;
}

.rush-subheading {
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-size: 1.5rem;
  color: var(--primary-red);
  margin-bottom: 2rem;
  position: relative;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption-text {
  position: absolute;
  bottom: 20px; /* Adjust this to move caption up or down */
  left: 70px;
  right: 70px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white;
  padding: 10px;
  border-radius: 10px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Apply blur to the background behind the caption */
  font-size: 18px; /* Adjust font size */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Optional text shadow for readability */
  z-index: 10; /* Ensure caption is on top of the image */
  text-align: center;
}




/* Fading animation */
.mySlides {
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
    position: absolute;
    width: 100%;
}
  
.mySlides:first-child {
    position: relative;
}
  
.active-slide {
    opacity: 1 !important;
    position: relative !important;
}
  

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}