{% extends 'AUTHENTICATE/main.html' %}

{% block content %}
The Code of Ethics of Sigma Phi Delta is founded upon the basic principles of truth and honesty. The quotation, "Whatsoever things are true, whatsoever things are honest," should be the light guiding the footsteps of an Engineer towards service and success.

An Engineer should at all times be mentally, physically and morally clean, and should conduct himself as a gentleman.  He should be courageous in following his own convictions, mentally awake to make use of every opportunity, and should consider the welfare of others before his own.

To his superiors, an Engineer should be dutiful; to his co-workers, helpful; to his subordinates, generous; to all men, brotherly.  An Engineer should take a good grip on the joys of life.  He should play the game like a man.  He should fight against nothing so hard as his own weaknesses, and should endeavor to gain in strength.  He should live so that his actions shall never besmirch his own honor, and thus maintain the honor of the Engineering Profession.
{% endblock %}