{% extends 'AUTHENTICATE/main.html' %}
{% load static %}

{% block content %}

<div class="banner">
    <img src="{% static 'images/banner.png' %}" alt="Fraternity Banner" class="banner-image">
    <div class="banner-text">
        <h1>Welcome to Our Fraternity</h1>
        <p>Science, Friendship, Duty</p>
    </div>
</div>

<div class="homepage-content">
    <h2 class="homepage-heading">ΣΦΔ Beta-Omicron Chapter</h2>
    <h5 class="homepage-subheading">University of Missouri, Columbia</h5>
    <p>
        The Beta-Omicron Chapter of Sigma Phi Delta is the premiere social and
        professional Engineering fraternity at the University of Missouri. Our
        closely-knit brotherhood is committed to developing strong professional
        skills and relationships for their future careers, encouraging positive
        social skills to aid in their personal endeavors, fostering scholastic success
        in their academic pursuits, and promoting the development of life-long friendships.
    </p>
    <div class="button-container">
        <a href="{% url 'rush' %}">
            <button class="btn btn-primary" type="button">Rush Information</button>
        </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfQXSQ3DEu0RXphgasbFZLvmActWl01y6gVPS0OgLJzwz8beg/viewform">
            <button class="btn btn-primary" type="button">Rush Interest Form</button>
        </a>
    </div>
    <div class="button-container">
        <p>Keep up with our events!</p>
        <a href="https://www.instagram.com/sigphimizzou/">
            <button class="btn btn-primary" type="button">Instagram</button>
        </a>
    </div>
    
</div>

{% endblock %}
