{% extends 'AUTHENTICATE/main.html' %}

{% block content %}

<br>

<div class="row">
  <div class="col-md-5">
    <h5>Brothers:</h5>
    <hr>
    <div class="card card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody>
          {% for member in members %}
          <tr>
            <td></td>
            <td class="member-firstName">{{ member.firstName }}</td>
            <td class="member-lastName">{{ member.lastName }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
