{% extends 'HOME/main.html' %}

{% block content %}

<br>
<div class="centered-table">
    <div class="row">
        <h5>Brothers:</h5>
        <div class="card card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roles</th>
              </tr>
            </thead>
            <tbody>
              {% for Brother_Profile in Brother_Profiles %}
              <tr>
                <td></td>
                <td class="member-firstName">{{ Brother_Profile.firstName }}</td>
                <td class="member-lastName">{{ Brother_Profile.lastName }}</td>
                <td class="member-role">
                  {{ Brother_Profile.roles.all|join:", " }}
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}