{% extends 'AUTHENTICATE/main.html' %}
{% load static %}
{% block content %}
<div class="homepage-content">
    <div class="text-center mb-4">
        <h2 class="homepage-heading">Rush Information</h2>
    </div>
    
    <div class="text-container mx-auto">
        <img class="" src="{% static 'images/backpacking.jpg' %}" alt="Backpacking Trip Photo" width="500" height="500" class="d-inline-block align-top">
        <img class="" src="{% static 'images/cleanup.jpg' %}" alt="Backpacking Trip Photo" width="500" height="500" class="d-inline-block align-top">
        <p>
            Rush Information Goes Here.
        </p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfQXSQ3DEu0RXphgasbFZLvmActWl01y6gVPS0OgLJzwz8beg/viewform">
            <div class="text-center mt-4">
                <button class="btn btn-primary" type="button">Rush Interest Form</button>
            </div>
        </a>
    </div>
</div>
{% endblock %}