{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/navbarImage.png' %}" alt="SPD Coat of Arms" width="50" height="50" class="d-inline-block align-top">
        ΣΦΔ
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item {% if request.resolver_match.url_name == 'ourHistory' %}active{% endif %}">
                <a class="nav-link" href="{% url 'ourHistory' %}">Our History</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'codeOfEthics' %}active{% endif %}">
                <a class="nav-link" href="{% url 'codeOfEthics' %}">Code of Ethics</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'rush' %}active{% endif %}">
                <a class="nav-link" href="{% url 'rush' %}">Rush Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/executive-board/' %}active{% endif %}" href="{% url 'executive_board' %}">Executive Board</a>
            </li>
            {% if request.user.is_authenticated %}
            <!-- Mobile separator -->
            <li class="nav-item separator d-lg-none">
                <span class="mobile-nav-separator"></span> <!-- Divider for mobile view -->
            </li>
            <!-- Desktop separator -->
            <li class="nav-item separator d-none d-lg-block">
                <span class="desktop-nav-separator"></span> <!-- Divider for desktop view -->
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'poll' %}active{% endif %}">
              <a class="nav-link" href="{% url 'poll' %}">Parley Pro</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'roster' %}active{% endif %}">
                <a class="nav-link" href="{% url 'roster' %}">Roster</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'philanthropy_dashboard' %}active{% endif %}">
                <a class="nav-link" href="{% url 'philanthropy_dashboard' %}">Philanthropy</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'newmember_marks_dashboard' %}active{% endif %}">
                <a class="nav-link" href="{% url 'newmember_marks_dashboard' %}">New Member Marks</a>
            </li>

            {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav align-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle profile-dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% if request.user.brother_profile.profileImage %}{{ request.user.brother_profile.profileImage.url }}{% else %}{% static 'images/default_profile.png' %}{% endif %}" 
                         alt="Profile Photo" 
                         class="navbar-profile-img"
                         onerror="this.src='{% static "images/default_profile.png" %}'">
                    <span class="username-text">{{ request.user.username }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile' %}">
                        <i class="fas fa-user"></i> Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
